/* Mobile First Design */

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap');

/* Variables */
$desaturated-dk-cyan: hsl(180, 29%, 50%);
$bg-lt-gray-cyan: hsl(180, 52%, 96%);
$filter-tab-lt-gray-cyan: hsl(180, 31%, 95%);
$dk-gray-cyan: hsl(180, 8%, 52%);
$very-dk-gray-cyan: hsl(180, 14%, 20%);
$header-cyan: hsl(180, 29%, 50%);
$attribution-link: hsl(228, 45%, 44%);
$font-family: "Spartan", sans-serif;
$font-size: 15px;

* {
    box-sizing: border-box;
    outine: 1px solid black;
}

body {
    margin: 0;
    height: 100vh;
    font-family: $font-family;
    font-size: $font-size;
    background: $bg-lt-gray-cyan;
}

.wrapper {
    max-width: 1200px;
    padding: 0 25px;
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}



/* Header Styles */

.header {
    background-image: url("/images/bg-header-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $header-cyan;
    margin-bottom: 80px;
}

.header__container {
    min-height: 160px;
    position: relative;
}

/* Job Card Styles */ 

.job__container {
    padding: 20px 20px 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 15px 30px -20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
    position: relative;
}

.job__card {
    display: flex;
}

.logo__container {
    position: absolute;
    width: 60px; 
    height: 60px;
    top: -25px;
}

.logo {
    width: 100%;
}

.job__data {
    margin: 60px 0;
}

.company-container {
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.company {
    margin: 0 15px 14px 0;
    font-size: 15px;
    font-weight: 700;
    color: $header-cyan;
}

.highlighted {
    display: none;
    text-transform: uppercase;
    height: 22px;
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    padding: 6px 8px 4px;
    border-radius: 11px;
    margin: 0 10px 14px 0;
    color: white;
}

.new {
    display: inline-block;
    background-color: $header-cyan;
}

.featured {
    display: inline-block;
    background-color: $very-dk-gray-cyan;
}

.role {
    font-size: 18px;
    margin: 0 0 14px;
    padding-top: 10px;
    cursor: pointer;
}

.job-status {
    display: flex;
    color: rgba(0, 0, 0, 0.5);
}

.status {
    line-height: 17px;
    list-style: none;
}

.status:nth-of-type(2){
    padding: 0 20px;
    margin: 0 20px;
    position: relative;
}

.status:nth-of-type(2):after,
.status:nth-of-type(2):before {
    position: absolute;
    left: 0;
    display: block;
    height: 4px;
    width: 4px;
    top: calc(50% - 2px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    content: "";
}

.status:nth-of-type(2):after {
    left: initial;
    right: 0;
}

.active {
    list-style: none;
    margin-left: 0;
}


/* Attribution styles */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}